<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PragmaticTweets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PragmaticTweetsKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>463750851B57CF5600511265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>464F48F41B58F19300160A2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46FEC03D1B579A29003B04B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46FF35F01B44229B00005636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46FF36041B44229B00005636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46FF360F1B44229B00005636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
